/* Основные стили для страницы */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

body {
    background-color: #fff;
    color: #1E293B;
    overflow-y: scroll;
}

.page-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1296px;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    gap: 20px;
}

/* БЛОК ОБЪЯВЛЕНИЙ */
.all-ads {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 100%;
    margin: 20px auto;
    padding: 0;
}

/* Контейнер с карточками */
.all-ads-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Шапка блока объявлений */
.all-ads-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.all-ads-found {
    text-align: left;
    color: #64748B;
}

.sort-container {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.sorted-by {
    width: 120px;
}

.filter-categories {
    width: 120px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #CBD5E1;
    border-radius: 4px;
    background-color: inherit;
    cursor: pointer;
}

/* Левая колонка (категории) */
.categories-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 306px;
    margin: 26px 20px 0 0;
}

.header, .price {
    font-size: 20px;
    font-weight: 600;
}

.prices {
    display: flex;
    width: 306px;
    gap: 8px;
    font-size: 16px;
    text-decoration: none;
}

.prices input {
    width: 100%;
    padding: 8px;
    border: 1px solid #CBD5E1;
    border-radius: 4px;
}

/* Убираем стрелочки в Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Убираем стрелочки в Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.search-ads-btn {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: #3b82f6;
    color: #fff;
    cursor: pointer;
}

.search-ads-btn:hover {
    background-color: #2c72e6;
}

@media (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(3, minmax(220px, 220px));
    }
    .card {
        max-width: 306px;
        width: 100%;
        height: 336px;
        object-fit: cover;
    }
    .categories-container {
        display: flex;
        flex-direction: column;
        width: 306px;
        margin-right: 20px;
        gap: 16px;
        float: left;
    }
}

@media (max-width: 1000px) {
    .cards {
        display: grid;
        justify-items: center;
        width: 100%;
        grid-template-columns: repeat(3, minmax(220px, 220px));
        gap: 15px;
        row-gap: 30px;
    }
    .card {
        max-width: 306px;
        width: 100%;
        height: 336px;
    }
    .container, .page-wrapper {
        flex-direction: column;
    }
    .categories-container {
        display: flex;
        flex-direction: column;
        width: 306px;
        float: left;
    }
}

.cards-container {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}


/* СТИЛИ КАТЕГОРИЙ */
.category-list {
    width: 100%;
    margin: 4px;
    padding: 0;
    line-height: 30px;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 4px;
    padding-left: 20px;
}

li {
    position: relative;
    margin: 4px;
    cursor: pointer;
}

ul ul {
    display: none;
    padding-left: 15px;
}

li.open > ul {
    display: block;
}

.category-text {
    display: inline-block;
    width: 100%;
    padding-left: 8px;
}

li:hover > .category-text,
li.selected > .category-text
{
    border-radius: 4px;
    background-color: #3b82f6;
    color: white;
}

li.selected > .category-text {
    font-weight: bold;
}

.category-third {
    list-style: none;
    padding-left: 15px;
    cursor: pointer;
}

.category-third.selected {
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
}

.category-third:hover {
    background-color: #3b82f6;
    color: white;
    border-radius: 4px;
}