* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #fff;
    color: #1E293B;
}

.auth-container, .sign-up-container {
    display: flex;
    width: 416px;
    height: 390px;
    margin: 6% auto;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sign-up-container {
    height: 400px;
}

.auth-content {
    display: flex;
    flex-direction: column;
    margin: 20px 24px;
}

.auth-content h2 {
    margin: 16px 0 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}

.text-input, .password-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 368px;
    height: 52px;
    margin-bottom: 26px;
    padding-left: 12px;
    border: 1px solid #CBD5E1;
    border-radius: 4px;
    font-size: 16px;
}

.remember-forgot-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.remember-forgot-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: 2px solid #CBD5E1;
    border-radius: 4px;
}

.checkbox {
    text-align: left;
    color: #3B82F6;
}

.remember-forgot-container a {
    color: #3B82F6;
    text-decoration: none;
    cursor: pointer;
}

.remember-forgot-container a:hover {
    color: #2563EB;
}

.sign-up-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20px;
    margin-top: 16px;
    color: #3B82F6;
    text-decoration: none;
    cursor: pointer;
}

.sign-up-text a:hover {
    color: #2563EB;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 48px;
}

.login-submit, .sign-in-btn {
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background-color: #3B82F6;
    cursor: pointer;
}
.sign-in-btn {
    margin-top: 10px;
}

.login-submit:hover, .sign-in-btn:hover {
    background-color: #2563EB;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.error {
    display: none;
    margin-top: 55px;
    margin-left: 3px;
    padding: 0;
    font-size: 14px;
    color: red;
    position: absolute;
}

.error.active {
    display: block;
}

.input-error {
    border: 1px solid red;
}

